  <nav class="navbar navbar-expand-sm navbar-scroll fixed-top">
    <div class="container-fluid">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        @if(isLoggedIn){
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">HOME</a>
        </li>}
        @if(isLoggedIn){
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">LOGIN</a>
          </li>}
        @if(isLoggedIn){
          <li class="nav-item">
            <a class="nav-link" routerLink="/register">REGISTER</a>
          </li>}
        @if(!isLoggedIn){
        <li class="nav-item">
          <a class="nav-link" routerLink="/book">BOOK</a>
        </li>}
        @if(!isLoggedIn){
        <li class="nav-item">
          <a class="nav-link" routerLink="/member">MEMBER</a>
        </li>}
        @if(!isLoggedIn){
        <li class="nav-item">
          <a class="nav-link" routerLink="/borrow">BORROW'S</a>
        </li>}
        @if(!isLoggedIn){
        <li class="nav-item">
          <a class="nav-link" routerLink="/fine">FINE'S</a>
        </li>}
        @if(!isLoggedIn){
        <li class="nav-item">
          <a class="nav-link" routerLink="/notification">NOTIFICATION</a>
        </li>}
        @if(!isLoggedIn){
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">LOGOUT</a>
        </li>}
      </ul>
    </div>
  </nav>
  
