<app-navbar></app-navbar>

<div class="container " style="margin-top: 150px;">
  <h2 class="text-center text-primary mb-4">All Members</h2>
  
  <div class="row" *ngIf="members.length > 0; else noData">
    <div class="col-md-4 mb-4" *ngFor="let member of members">
      <div class="card shadow-sm border-primary">
        <div class="card-body">
          <p class="card-text"><strong>Name:</strong> {{ member.name }}</p>
          <p class="card-text"><strong>Email:</strong> {{ member.email }}</p>        
          <p class="card-text"><strong>Phone:</strong> {{ member.phone }}</p>
          <p class="card-text"><strong>Address:</strong> {{ member.address }}</p>
          <p class="card-text"><strong>Status:</strong> {{ member.membershipStatus }}</p>
        </div>
      </div>
    </div>
  </div>
 
  <ng-template #noData>
    <div class="alert alert-info text-center">No members found.</div>
  </ng-template>
  <div class="d-grid">
    <button type="submit" class="btn btn-custom" routerLink="/member">Ok</button>
  </div>
</div>