<app-navbar></app-navbar>
<div class="container " style="margin-top: 150px;">
  <div class="card p-4 shadow-sm">
    <h3 class="mb-4">Calculate Fine</h3>
 
    <div class="mb-3">
      <label for="memberId" class="form-label">Enter Member ID</label>
      <input type="number" class="form-control" id="memberId"[(ngModel)]="memberId" placeholder="e.g. 3"  min="1" required />
    </div>
 
    <button class="btn btn-primary mb-3" (click)="calculateFine()">Calculate</button>
 
    <div *ngIf="message" class="alert alert-success mt-2">{{ message }}</div>
    <div *ngIf="error" class="alert alert-danger mt-2">{{ error }}</div>
 
    <div *ngIf="fineDetails" class="card mt-3 p-3 bg-light border">
      <h5>Fine Details</h5>
      <p><strong>Fine ID:</strong> {{ fineDetails.fineId }}</p>
      <p><strong>Status:</strong> {{ fineDetails.status }}</p>
      <p><strong>Amount:</strong> ₹{{ fineDetails.amount }}</p>
      <p><strong>Transaction Date:</strong> {{ fineDetails.transactionDate }}</p>
 
      <h6 class="mt-3">Member Details</h6>
      <p><strong>Name:</strong> {{ fineDetails.memberId.name }}</p>
      <p><strong>Email:</strong> {{ fineDetails.memberId.email }}</p>
      <p><strong>Phone:</strong> {{ fineDetails.memberId.phone }}</p>
      <p><strong>Address:</strong> {{ fineDetails.memberId.address }}</p>
      <p><strong>Status:</strong> {{ fineDetails.memberId.membershipStatus }}</p>
    </div>
  </div>
</div>