<app-navbar></app-navbar>
<div class="home-container d-flex justify-content-center align-items-center text-white text-center">
  <div class="overlay"></div>
  <div class="content">
    <h4 class="display-4 fw-bold ">Library Management System</h4>
    <p class="lead mt-4 mb-5">
      Explore, borrow, and manage books with ease.<br>
      Empower your reading journey with the best digital library tools.
    </p>
    @if(!isLoggedIn){
    <a routerLink="/login" class="btn btn-outline-light btn-lg px-4">Get Started</a>
    }
  </div>
</div>