
  .book-search-container {
    margin-top: 40px;
    padding: 30px;
    margin-top: 200px;
    background-color: #fdfdfd;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
   
  .header-title {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 25px;
    color: #2c3e50;
  }
  .btn-custom {
    background-color: #0d6efd;
    margin-left: 570px;
    margin-right: 570px;
    color: white;
    font-weight: 500;
  }


  